/* lg */
@media (max-width: 991px) {
    .margin-grid {
        margin: 0 80px;
    }
}

/* md */
@media (max-width: 767px) {
    .margin-grid {
        margin: 0 50px;
    }
}

/* sm */
@media (max-width: 575px) {
    .margin-grid {
        margin: 0 25px;
    }
}